.margin_top{
    margin-top: 75px !important; 
}
.index{
    margin-top: 25px !important;
    margin-left: 50px !important;
}
.center {
    text-align: center;
    margin-top: 25px !important;
}

.pagination {
display: inline-block;
width: 75%;
}

.pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
transition: background-color .3s;
border: 1px solid #ddd;
height: 38px;
}

.pagination a.active {
background-color: #4CAF50;
color: white;
border: 1px solid #4CAF50;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.fletxas {
    width: 50%;
}
.titolcp{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    margin-left: 25px !important;
    text-align: center;
    font-size: 30px;
}
.imgcent1{
  align-items: center;
  margin: 0 auto;
  margin-left: 37%;
}
.imgcent2{
  align-items: center;
  margin: 0 auto;
  margin-left: 23%;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: transparent !important;
}
.centbtn{
  align-items: center;
  margin: 0 auto;
  margin-left: 46%;
}
.imgcentbtn{
  align-items: center;
  margin: 0 auto;
  margin-left: 0%;
}
.cent{
  text-align: center;
}
.cent p {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  font-size: 16px;
}
.md{
  height: 250px;
}